header {
	height: 150px;
	border-bottom: 8px solid magenta;
	background-color: blue;
}
footer {
	height: 150px;
	border-bottom: 8px solid magenta;
	background-color: blue;
}
body {
	font-family: 'Inconsolata';
}