h1 {
	text-transform: capitalize;
	font-family: 'Cinzel';
	font-size: 45px;
	color: rgb(255,255,0);
	float: left;
	padding-top: 20px;
	padding-left: 15px;
	padding-bottom: 20px;
}

#headline {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	float: right;
	padding-top: 30px;
	padding-right: 20px;
}

.framing {
	background-color: magenta;
	border-bottom: 1px solid black;
}

.clear {
	clear:both;
}

#portfolio {
	text-align: center;
	max-width:800px;
	margin: 0 auto;
	padding-top: 40px;
}

.project {
	display: inline-block;
	text-align: center;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right:10px;
}

.project_image {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: gray;
	border: 2px solid red;
}

#portfolio .project .label {
	margin-top: 5px;
	font-weight: bold;
	color:#353839;
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
	border-radius: 4px;
	display: inline-block;
}