header h1 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
}
p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

body {
	font-family: 'Droid Sans', sans-serif;
}

ol {
	line-height: 1.5ems;
}

a:link {
	text-decoration: none;
}

a:visited {
	color:#5F8A8B;
}

/*=========================================
  Media Queries
  ========================================= */
@media screen and (max-width: 768px) and (min-width: 600px){
	body {
		background-color: #979AAA;
		color:#414A4C;
	} 
}

@media screen and (max-width: 600px){
	body{
		background-color: #bada55;
	}
}
}