

body {
	margin:0;
	font-family: "Open Sans", sans-serif;
	color:black;
}

#my_face {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	margin-left: auto;
    margin-right: auto;
    background-image: url("https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/10268607_10154088686395335_6304749679127938899_n.jpg");
    background-size: 200px;
    border:3px solid#FEFE22;

}

.small_text {
	font-family: "Open Sans", sans-serif;
	color:#CA3767;
	font-weight:bold;
	font-size: 14px;
	text-align: center;
	line-height: 40%; /*Needs to be adjusted*/

}

#social_buttons {
	width: 200px;
	font-size: 2em;
	margin: 0 auto;
	
}

#social_buttons li{
	display:inline;
	padding: 8px;

}


#social_buttons ul {
	text-align: center;
	list-style-type: none;

}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; 
}

.stretch {
    width:100%;
    height:100%;
}



h2 {
	color:#414A4C;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px dashed white;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
}



#content{
	width:900px;
	margin-top:50px;
	margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.85);
    border: 3px solid #FEFE22;
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    line-height: 28px;
}

.big_photo {
	border:8px solid #FEFE22;
	width:700px;
}

h3 {
	color:rgb(245,0,125);
}

.reasons_list li{
	margin-bottom: 15px;

}

.reasons_list strong{
	text-transform: uppercase;
	color:rgb(245,0,125);
}

#twitterpage {
	width: 50px;
}


.photo {
	border:15px solid white;
	width:700px;
}

a:visited, a:link {
	color:#CA3767;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

footer {
	text-align: center; 
	color:#FEFE22;
}

