.diagrams {
	width: 500px;
	margin: 0 auto;
	border:2px solid #414A4C;
	border-radius: 5%;
}
h2  {
	color:#414A4C;
}
#bullet_removal {
	text-decoration: none;
	text-align: center;
}
h3 {
	text-align: center;
}
.headings {
	color: rgb(245,0,125);
}